@font-face {
  font-family: 'Inter';
  font-stretch: 0% 100%; /* Note that font-stretch is a % of normal width */
  font-style: normal; /* See note below */
  font-weight: 100 900;
  src: url("/Inter-VariableFont.ttf") format('woff2');
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

html,body {
  min-height: 100vh;
}

.dn {
  visibility: hidden;
}

.progressBar {
  display: none;
  position: absolute;
  width: 200px;
  height: 50px;
  bottom: 20%;
  right: calc(50% - 100px);
}

.modalContainer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  flex-direction: column;
  transform: translateY(100%);
}

.bottleDescription {
  width: 35vw;
  height: 55vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: sans-serif;
  font-size: 3rem;
  pointer-events: none;
}

.instructionButton {
  width: 14em;
  height: auto;
  position: absolute;
  z-index: 99;
  top: 3em;
  left: calc(50% - 7em);
  right: 0;
  cursor: pointer;
}

.closeInstButton {
  position: absolute;
  top: 5em;
  left: 3em;
  cursor: pointer;
  z-index: 1;
}

.nextInstButton {
  position: absolute;
  top: 5em;
  right: 3em;
  cursor: pointer;
  z-index: 1;
}

.backInstButton {
  position: absolute;
  top: 5em;
  right: 3em;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}

.instruction {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #00000095;
  backdrop-filter: blur(6px);
  opacity: 0;
  visibility: hidden;
}

#inst1 {
  position: absolute;
  opacity: 1;
}

#inst2 {
  position: absolute;
  opacity: 0;
}

#penalty {
  width: 30vw;
  height: auto;
  position: fixed;
  bottom: 10%;
  left: calc(50% - 30vw/2);
  z-index: 2;
  cursor: pointer;
  border: 2px solid #C57878;
  border-radius: 250px;
  margin: 0;
  padding: 0;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 2px 15.7px 0 rgba(0, 0, 0, 0.62), 0 8px 44.2px 0 rgba(222, 9, 9, 0.39), 0 18px 147.8px 0 rgba(183, 0, 0, 0.51), 0 0 34.3px 0 rgba(255, 102, 102, 0.50) inset, 0 0 120.4px 0 rgba(255, 79, 79, 0.57) inset;
  transform: scale(1);
  transition: transform 0.2s ease;
}

#penalty:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

#penalty video {
  width: 100%;
  height: auto;
}

.matchWord {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#closePenalty {
  width: auto;
  height: 8vw;
  position: fixed;
  top: 2.5%;
  left: 5%;
  z-index: 1;
  visibility: hidden;
  cursor: pointer;
}

#instructionSecondButton {
  width: auto;
  height: 8vw;
  position: fixed;
  top: 2.5%;
  left: 28%;
  z-index: 1;
  visibility: hidden;
  cursor: pointer;
}

#powerGradient {
  --clip: 5%;
  background: radial-gradient(50% 50% at 50% 50%, #72F322 0%, #FFAE00 54.33%, #F33322 100%);
  filter: blur(24px);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(-2px);
  clip-path: circle(var(--clip));
  animation: circle 2s infinite linear;
}

.penalty-button {
  position: fixed;
  bottom: 5%;
  visibility: hidden;
  width: 30vw;
  left: calc(50% - 30vw/2);
  z-index: 1;
}


.signContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
}

.goalSign {
  pointer-events: none;
  opacity: 0;
}

.missSign {
  pointer-events: none;
  opacity: 0;
}

.bottle-container {
  max-width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottle-container .swiper {
  max-width: 60%;
  margin: 0 auto;
}

.swiper-slide img {
  max-width: 100%;
  pointer-events: none;
  user-select: none;
}

.swiper-slide {
  border-radius: 30px;
  overflow: hidden;
}

#closeModal {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  bottom: 7%;
}

#goalCounter {
  position: fixed;
  right: 5%;
  top: 2.5%;
  z-index: 1;
  color: white;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.goalCounterNumber {
  font-weight: 800;
  font-size: 3rem;
  display: flex;
  opacity: 0.67;
  text-align: center;
  width: auto;
}

.goalCounterContainer {
  position: relative;
  padding: 1rem;
  background: linear-gradient(
                            #0E0E0E,
                            #262626 100%
                          );
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 2px #EDEDED24 solid;
  overflow: hidden;
  width: 2.5rem;
  max-width: 2.5rem;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.goalCounterLabel {
  opacity: 0.4;
  text-align: center;
}

.topGradient {
    background: linear-gradient(
                            #FFFFFF00,
                            #FFFFFF 100%
                          );
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 2;
}


.startScreen {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
  cursor: pointer;
}

.message {
  position: fixed; 
  z-index: 999;
  width: 100vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
}

.start-screen {
  position: fixed; 
  z-index: 999;
  width: 100vw;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}